// Light mode color palet
$primary-background-light: #ffffff; 
$secondary-background-light: #ebe3d0;
$text-color-light: #1f2e36;
$highlight-color-one-light: #385f73;
$highlight-color-two-light: #698c9a;
$link-colo-light: #2d444f;
$hover-color-light: #4d5c66;

// Dark mode color pallet
$primary-background-dark: #1f2e36; 
$secondary-background-dark: #2d44df;
$text-color-dark: #ffffff;
$highlight-color-one-dark: #a4770d;
$highlight-color-two-dark: #4d3a06;
$link-colo-dark: #69b3bf;
$hover-color-dark: #4d7980;